<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>播放视频</title>
</head>
<script>
    //向后台获取视频的播放地址，然后开始播放视频
</script>
<body>
    <video width="320" height="240" controls>
        <source src="../video/数学初中1上__第1章第1课·正数和负数.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        <source src="movie.webm" type="video/webm">
        <object data="movie.mp4" width="320" height="240">
            <embed src="movie.swf" width="320" height="240">
        </object>
    </video>
</body>
</html>