# Created by .ignore support plugin (hsz.mobi)
.idea
/vuedemo/*/node_modules/
/vuedemo/demo1/node_modules/
/vuedemo/*/dist/
/vuedemo/*/npm-debug.log*
/vuedemo/*/yarn-debug.log*
/vuedemo/*/yarn-error.log*
/vuedemo/*/*.iml
/plan/view/src/video/

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln